body {
    margin: 0;
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
    font-size: 11pt;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26px;
    background: whitesmoke;
    /*background: url(background.jpg);*/
}

label span{
    font-weight: bold;
}

.hide-true{
    visibility: hidden;
}
.show-true{
    visibility: initial;
}
.hide-false{
    
    visibility: initial;
}
.show-false{
    visibility: hidden;
}

div.txb-container span.txb-clear{
    position: absolute;
    top: 3px;
    right: 3px; 
    color: #ffffff;
    background: gainsboro;
    border-radius: 25px;
    padding: 0px 5px;
    line-height: 16px; 
    font-weight: 100;   
    border: 1px solid #fff7e7;
}
div.txb-container span.txb-clear:hover{
    color: #ff0000;
}

div.txb-container{
    display: inline-block;
    position: relative;
}

input[type='checkbox']{
    cursor: pointer;
}
.button {
	padding: 5px 8px;
    display: inline-block;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid #999;
    outline: none;
    text-shadow: 1px 1px #fff;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);	
    font-weight: 700;
}

.button:hover {
    border-color: #464642;
}
.button:focus {
    outline: 1px solid #a6d9ff;
}

.button:active ,a:active{
    transform: translateY(1px);
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
.btn:active{
    transform: translateY(1px);
}
.btn {
    cursor: pointer;
}
input.txb  {    
    border: 1px solid #9e9d9d;
    height: 20px;
    text-indent: 3px;
    width: 300px;    
    box-shadow: 0px 0px 1px #a0a0a0;
}

div#main {
    width: 67.78%;
    min-width: 622px;
}
td.line-item.match-box-true {
    background: #fff4df;
}
td.line-item.outdated-true {
    background: #ffd5c8;
}
table.tbl-rec-flat {
    width: 100%;
}

table.tbl-rec-flat td{
	background: white;
	cursor: pointer;
    position: relative;
}
table.tbl-rec-flat td.selected-true {
    font-weight: bold;
    background: #d2ebff;
    background: linear-gradient(to top, #d7e9f9, #edf7ff);
}

table.tbl-rec-flat td div{
	display: inline-block;
    vertical-align: top ;
    text-align: center;
    /*white-space: nowrap;*/
    text-overflow: ellipsis;
    overflow: hidden;
    /*line-height: 20px;*/
    width: 107px;   
    min-height: 29px; 
}

.tbl-head {
    width: 100%;
    border: 1px solid #777777;
    border-bottom: navajowhite;
    box-shadow: 1px 0px 1px #a2a2a2;
}

.tbl-scrollable {
    overflow: auto;
    max-height: 275px;
    width: 100%;
    border: 1px solid #868181;
    background: #e8e8e8;
    box-shadow: 1px 1px 1px #a2a2a2;
}

.order-lookup {
    margin: 19px 31px 26px 31px;
    display: inline-block;
}
.order-lookup > div {
    vertical-align: middle;
}

.tbl-highlight {
    background: #aedebb;
    color: #c71645;
    border-radius: 34px;
    font-weight: bold;
}

.barcode {
    width: 170px;
    height: 20px;
    background-position: -18px -9px;
    position: relative;
    right: -214px;
    margin: 1px 0px 0px 0px;
}
.barcode-small{
    width: 70px;
    height: 20px;
    background-position: -9px -9px;
    position: relative;
    left: -4px;
    top: 1px;
}

.expand-btn {
    width: 18px;
    height: 19px;
    background: #a6d9ff;
    /*border-radius: 2px;*/
    float: right;
    outline: none;
    border: none;
    cursor: pointer;
    /*margin: 0 0 1px 0;*/
}

.expand-true:after{
    content: '-';
}
.expand-false:after,.expand-:after{
    content: '+';
}

.tbl2 table.tbl-rec-flat td.box-head div {
    position: relative;
    top: 12px;
}

.tbl2 table.tbl-rec-flat td div {
    line-height: 20px;
    min-width: 121px;    
}

.tbl2 {
    width: 42.78%;
    min-width: 622px;
    margin:8px;
    float: left;
    box-shadow: 3px 1px 3px #a2a2a2;
}

span.delete-item-btn:hover {
    background: #e79292;
    color: #ffffff;
    font-size: 22px;
    font-weight: 100;
}
span.delete-item-btn {
    padding: 2px 8px;
    color: #6d6a6d;
    float: right;
    line-height: 20px;    
    font-size: 16px;
}

input#box-search-txb {
    width: 160px;
}

div#msg-back {
    background: #7cc5ff;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    opacity: 0.5;
    /* display: none;*/
}

div#msg-box {
    box-shadow: 2px 2px 5px #d0d0d0;
}

div#msg-box div.msg-display {
    padding: 7px;    
}

.msg-prompt{
    margin: 0 0 9px 0;
}

.msg-options button {
    float: right;
    margin: 0 9px;
    min-width: 76px;
}

.msg-options {
    display: inline-block;
    width: 100%;
}
/*-------------------------------------------*/


table.tbl-rec-flat td div.description, table.tbl-rec-flat td div.title {
    width: 347px;
}

table.tbl-rec-flat td div.upcs {
    width: 191px;    
    white-space: normal;
}
table.tbl-rec-flat td div.prep_instructions {
    width: 277px;        
}
/*------------------------------------------*/

div#kit-label{
    width: 429px;
    /*height: 212px;*/
    float: left;
    border: 1px solid gray;
    box-shadow: 1px 1px 1px #a2a2a2; 
    background: white;
}
.label-options label {
    margin: 0 3px;
    font-weight: bold;
}
div#kit-label div.label-details {
    margin: 12px;
}

.label-details span {
    width: 37px;
    display: inline-block;
}

.label-details div {
    margin: 4px;
}

.file-button::-webkit-file-upload-button {
  visibility: hidden;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
}

.file-button::before {
  /*content: 'Replace All Orders';  */
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}
.file-button{
    color: #119a8d;
    outline: none;
}
.file-button:hover::before {
    border-color: black;
}
.file-button:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
    transform: translateY(1px);
}

.client-info {
    position: absolute;
    display: inline-block;
    left: 900px;
}

.client-info label {
    display: inline-block;
}

.stacked.sub-section {
    margin: 5px;
}

div.order-info{
    display: inline-block;
    font-weight: 600;
    font-size: 16px;
    width: 751.141px;
    /*height: 56px;*/
    /*white-space: nowrap;*/
    background: white;
    text-overflow: ellipsis;
    overflow: hidden;
}
/*.delete-true {
    background: red;
    color: red;
    font-weight: bold;
}*/
input#replace-orders::before{
    content: 'Replace All Orders';
}
input#insert-orders::before{
    content: 'Upload New Orders';
}
input#insert-products::before{
    content: 'Upload New Products';
}
input#replace-products::before{
    content: 'Replace All Products';
}
input#delete-boxes::before{
    content: 'Upload Box Delete Template';
}
div ::-webkit-scrollbar {
    width: 10px;
} /* this targets the default scrollbar (compulsory) */

div ::-webkit-scrollbar-track {
      background-color: white;
} /* the new scrollbar will have a flat appearance with the set background color */
 
div ::-webkit-scrollbar-thumb {
     background: linear-gradient(to top, #85a59b, #b6d2c5);
   /* background: #85a59b;
    background: #93b3a9;*/
    background: linear-gradient(to top, #dcdcdc, #aba8a8);
    border: 1px solid white;
} /* this will style the thumb, ignoring the track */
 
div ::-webkit-scrollbar-button {
    /*background-color: #7c2929;*/
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
 
div ::-webkit-scrollbar-corner {
    /*background-color: black;*/
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */
